[user]
    name = Sumit Kumar
    email = ravi.sumit33@gmail.com

{{ $workPath := printf "%s/%s" .chezmoi.homeDir .work.dirname }}

[includeIf "gitdir:{{$workPath}}/"]
    path = ~/.gitconfig-work

[core]
    # side-by-side view for git diff
    pager = delta --side-by-side

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    dark = true
    line-numbers = true

[diff]
    colorMoved = default

[merge]
    conflictstyle = diff3
